<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dh_ag95_gripper_standalone">

  <!-- Include the gripper macro -->
  <xacro:include filename="$(find dh_ag95_gripper)/urdf/dh_ag95_gripper.urdf.xacro"/>

  <!-- World link for standalone operation -->
  <link name="world"/>

  <!-- Use the gripper macro with empty prefix -->
  <xacro:dh_ag95_gripper prefix="" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:dh_ag95_gripper>

</robot> 